*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body > header {
    position: sticky;
}
.logo{
    margin-top: 30px;
    width: 250px;
    justify-content: space-around;
    flex: 1;
    display: flex;
    margin-inline: auto;
}
.logo img{
    border-radius: 25px;
    width: 200px;
    align-items: center;
}
.galeri-text{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    max-width: 350px;
}
.galeri-row{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.galeri-col{
    flex-basis: 25%;
    text-align: center;
}
.cardProfile {
    /* display: block; */
    top: 0px;
    position: relative;
    max-width: 262px;
    min-width: 200px;
    background-color: rgb(0, 0, 0);
    padding: 32px 24px;
    margin: auto;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-align: center;
    justify-content: center;
}
.cardProfile img{
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
}
#motivasi{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tentang-text h1{
    font-size: 3.2rem;
}
.tentang-left-col{
    flex-basis: 50%;
}
.tentang-left-col img{
    width: 100%;
}
.tentang-right-col{
    flex-basis: 30%;
    text-align: left;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container .content-image img {
    margin: auto;
    min-width: 200px;
    width: 250px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
.home-text{
    max-width: 350px;
    flex: 1 1;
}
.home-text h1{
    font-size: 2.5rem;
    margin-block: 1rem;
}
.home-text p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}
.home-text img {
    margin: auto;
    min-width: 200px;
    width: 250px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}